<h2>About us</h2>
<p>This game has been created by Athlone Developments and is their first venture into advanced gaming. It has been thoroughly challenging to create this and we are very proud to provide something for the intelligent masses who are just not stimulated by such simple games as Snap, or Noughts and Crosses.</p>
<p>As our company continues to grow, and as output increases, we shall provide links to our other projects in the Links section.</p>
<p>Finally, we would like to thank the good people at Makers Academy for providing the support necessary to produce such an amazing product. Special thanks goes out to The Architect a.k.a. Snozza for his love and support during this arduous process. A final thanks is also being sent out to The Bull Rider for his patience.</p>
<p>If you would like any further information please feel free to email us <a href='mailto:info@athlonedevelopments.co.uk'>info@athlonedevelopments.co.uk</a></p>