<h2>About RPSLS</h2>
<p>Rock, Paper, Scissors, Lizard, Spock is an advanced version of Rock, Paper, Scissors for those with an above average IQ. This game has been created for two reasons. Firstly, as part of a challenge set by <a href='http://www.makersacademy.com/'>Makers Academy</a> and secondly to provide the smart people of this world an opportunity to stretch their brain.</p> 
<p>The beauty of this brilliant game is that is short and sweet, yet provides the brain with a stimulation like no other. The in-built Super Computer, appropriately named Skynet, will also provide you with a challenge like no other. Please enjoy your time on our site and try not to get too down-hearted if you find it strenuous - you are only a Dumb Human afterall.</p>
<br/>
<p>If you would like more information about the origins of Rock, Paper, Scissors, Lizard, Spock then please read the documentation which can be <a href='http://en.wikipedia.org/wiki/Rock-paper-scissors-lizard-Spock'>found here</a>.</p>