<h1>Welcome to RPSLS HQ</h1>

<% if !@name %>
<h3>Please enter your name to begin your battle:</h3>

<form action='/create_player' method='post'>    <!-- UP TO THIS POINT. NEED TO SEE HOW TO PASS PARAMETERS IN URI-->
	<input type='text' name='name' placeholder='Please enter your name here...'/> 
	<button>Bring it on!</button>
</form>
<% end %>

<% if @name %>
<h3>Welcome to the Action Zone, <%= @name %></h3>
<h4>You must now choose whether you want to play against our Super Computer or another Dumb Human:</h4>
<form action='/opponent_route' method='post'>
	<input type='radio' name='opponent' value='super_computer' checked id='opponent_super_computer'/>Super Computer
	<input type='radio' name='opponent' value='dumb_human' id='opponent_dumb_human'/>Dumb Human
	<button>Let's play!</button>
</form>
<% end %>
