<DOCTYPE html>
<html>
	
	<head>
		<title>Rock, Paper, Scissors, Lizard, Spock - The World's Most Addictive Two Player Game</title>
		<link type="text/css"; rel="stylesheet"; href="stylesheet.css"/>
	</head>
	
	<body>
		
		<header>
		<h1>RPSLS HQ</h1>
		<h4>Rock, Paper, Scissors, Lizard, Spock</h4>
		<h4>The World's Most Addictive Two Player Game</h4>
		</header>
		
		<nav>
			<ul>
				<li><a href="/about_RPSLS">About RPSLS</a></li>
				<li><a href="/about_us">About Us</a></li>
				<li><a href="/links">Links</a></li>
			</ul>
		</nav>
		
		<main>
			<%=yield %>
		</main>
		
		<footer>
			<p>Rock, Paper, Scissors, Lizards, Spock has been bought to you by Athlone Developments. For more information about how the game was built and where it originates from please check out the <a href="/about_RPSLS">About RPSLS</a> page. I would like to thank Snozza for his contributions, support and general ability to weed out bugs!</p>
		</footer>

	</body>
</html>