<% if @status==false %>
<h3>Please wait whilst we try to find you a fellow humanoid to play against.</h3>
<h2>Thank you for your patience <%= @name %></h2>


<meta http-equiv='refresh' content='5'/>

<% end %>

<% if @status==true %>
<h3>Please wait whilst your opponent selects their weapon...</h3>

<meta http-equiv='refresh' content='5'/>

<% end %>